.color{
    color: white;
    text-decoration: none;
}
.border{
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}
.mx-6{
    margin-left: 450px;
}
.bg{
    background-color: white;
}
.menu a{
    color: black;
    text-decoration: none;
    font-size:larger;
    font-weight: bold;
}
.card{
    width: 400px;
    height: 300px;
    background-color: rgba(6, 182, 251, 0.068);
}
.icon-card{
    width: 50px;
    height: 50px;
    background-color: rgb(11, 66, 162);
    transform: rotate(45deg);
    
}
.fab{
    transform: rotate(-45deg);
    width:5px;
    padding-right: 20px;
}
.px-6{
    padding-left: 100px;
}
.row1{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    
}
.style{
   
    height: 8px;
    background-color:rgb(11, 66, 162);;
    width: 150px;
    
}
.row3{
    display: grid;
    grid-template-columns: 40% 50% 38%;
}
.card3{
    width:420px;
     height:360px; 
     background-color: rgba(154, 232, 250, 0.548)
}
.row4{
    display: grid;
    grid-template-columns: 30% 25% 20% 30%;
}
.card4{
    width: 40px;
    height: 40px;
    background-color: rgb(28, 106, 241);

}
.point{
    width: 5px;
    height: 5px;
    background-color: whitesmoke;
   margin-bottom: 12px;
    
}